 
 <div style="width:100%;height: 800px" >
    <div class="container-fluid main_nav">
      <div class="row">
        <div class="col-md-12 d-flex" style="height: 110px;border-bottom-style: solid;">
         <div class="ml-auto mt-5" >
  
          <app-logout></app-logout>

         </div>
        </div>
            
      </div> 
    </div> 
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2 style="margin-top: 100px;margin-left: 150px;margin-right: 150px;">

                    {{nameofuser}}, Welcome to
                    Payment Document Management System! 
                </h2>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="margin-top: 250px;">
      <div class="row">
        <div class="col-md-10">
        
        </div>
        <div class="col-md-2">
          <img class="ml-4" src="../../assets/icons/Poster.jpg" alt=""><h6>NEM Construction (PVT) Ltd
            <br>Payment Document Management System</h6>
        </div>
      </div>
    </div>
 </div>
