 
 
<div style="width:100%;height: 800px;" >
    <div class="container-fluid" >
      <div class="row">
        <div class="col-md-12 d-flex" style="height: 110px;border-bottom-style: solid;">
            <div *ngIf="user_New" class="navitem" (click)="newfunction(new,save,edit,delete,title)">
                <img src="../../../assets/icons/New .png" class="img-fluid   " alt="Responsive image">
                <p class="btn navtext ">New</p>
            </div>
            <div *ngIf="user_View" class="navitem " (click)="viewfunction(new,save,edit,delete,title)">
                <img src="../../../assets/icons/view.png" class="img-fluid  navimg" alt="Responsive image">
                <p class="btn navtext">View</p>
            </div>
            <div *ngIf="user_Edit" class="navitem  " (click)="editfunction(new,save,edit,delete,title)">
                <img src="../../../assets/icons/edit.png" class="img-fluid  navimg" alt="Responsive image">
                <p class="navtext">Edit</p>
            </div>
            <div *ngIf="user_Delete" class="navitem  ">
                <img src="../../../assets/icons/delete.png" (click)="deletefunction(new,save,edit,delete,title)" class="img-fluid   navimg" alt="Responsive image">
                <p class="navtext">Delete</p>
            </div>
            <div *ngIf="user_UserPermission" class="navitem  ">
                <img src="../../../assets/icons/password.png" class="img-fluid   navimg" alt="Responsive image" routerLink="../userAssign">
                <p class="navtext">User permission</p>
            </div>
            <div *ngIf="user_ProjectAssigning" class="navitem" >
                <img src="../../../assets/icons/projectassign.png" class="img-fluid   navimg" alt="Responsive image" routerLink="../proassg">
                <p class="navtext">project assigning</p>
            </div>
            <div *ngIf="user_Excel" class="navitem" (click)="exportToExcel(epltable)">
                <img src="../../../assets/icons/Excel.png " class="navimg img-fluid  " alt="Responsive image">
                <p class="navtext">Excel</p>
            </div>
            
            <div class="ml-auto mt-5" >
  
          <app-logout></app-logout>

         </div>
        </div>
            
      </div> 
    </div> 
    <!-- adding model start -->
    <!-- Button trigger modal -->
    <!-- getrowdata -->
<button style="display: none;" #new type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-primary">
          <h5 #title class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>

        </div>
        <div class="modal-body">
            <form [formGroup]="add_user">
                <div class="form-group row">
                  <label  for="OldPassword" class="col-sm-5 col-form-label  text-center">Name</label>
                  <div class="col-sm-7">
                    <input formControlName="add_name" type="text" class="form-control " id="OldPassword" [ngClass]="{ 'is-invalid': add_submit && add_.add_name.errors }"   >
                    <div *ngIf="add_submit && add_.add_name.errors" class="invalid-feedback" >
                        <div *ngIf="add_.add_name.errors.required"> Name is required</div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label  for="NewPassword" class="col-sm-5 col-form-label  text-center">User Name</label>
                  <div class="col-sm-7">
                    <input formControlName="add_uname" type="text" class="form-control" id="NewPassword"  [ngClass]="{ 'is-invalid': add_submit && add_.add_uname.errors }">
                    <div *ngIf="add_submit && add_.add_uname.errors" class="invalid-feedback" >
                        <div *ngIf="add_.add_uname.errors.required"> User Name is required</div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label  for="ConfirmPassword" class="col-sm-5 col-form-label  text-center">Password</label>
                  <div class="col-sm-7">
                    <input formControlName="add_password" type="password" class="form-control" id="ConfirmNewPassword"  [ngClass]="{ 'is-invalid': add_submit && add_.add_password.errors }" >
                    <div *ngIf="add_submit && add_.add_password.errors" class="invalid-feedback" >
                        <div *ngIf="add_.add_password.errors.required">Password is required</div>
                    </div>
                </div>
                </div>
                <div class="form-group row">
                    <label  for="Category" class="col-sm-5 col-form-label  text-center">Category</label>
                    <div class="col-sm-7">
                      <input formControlName="add_category" type="text" class="form-control" id="Category" [ngClass]="{ 'is-invalid': add_submit && add_.add_category.errors }" >
                      <div *ngIf="add_submit && add_.add_category.errors" class="invalid-feedback" >
                        <div *ngIf="add_.add_category.errors.required">Category is required</div>
                    </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label  for="Contact Number" class="col-sm-5 col-form-label  text-center">Contact Number</label>
                    <div class="col-sm-7">
                      <input formControlName="add_conNumber"  type="text" class="form-control" id="Contact Number"  [ngClass]="{ 'is-invalid': add_submit && add_.add_conNumber.errors }" >
                      <div *ngIf="add_submit && add_.add_category.errors" class="invalid-feedback" >
                        <div *ngIf="add_.add_category.errors.required">Category is required</div>
                    </div>
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <label  for="Contact Number2" class="col-sm-5 col-form-label  text-center">Status</label>
                    <div class="col-sm-7">
                      <input formControlName="add_status"  type="text" class="form-control" id="Contact Number"  [ngClass]="{ 'is-invalid': add_submit && add_.add_status.errors }" >
                      <div *ngIf="add_submit && add_.add_status.errors" class="invalid-feedback">
                        <div *ngIf="add_.add_status.errors.required">Status is required</div>
                    </div>
                    </div>
                  </div>


                  <div *ngIf="!useralready"  class="list-group-item list-group-item-danger">
                    <p class="text-center text-danger"> user already exist</p>
                  </div>
              </form>
        </div>
        <div class="modal-footer">
          <button #close type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button #save type="submit" class="btn btn-primary" (click)="save_user(close)">Save changes</button>
          <button #edit type="button" class="btn btn-primary" (click)="update_user(close)">Save edited</button>
          <button #delete type="button" class="btn btn-primary" (click)="delete_viwer(close)">Delete</button>

        </div>
      </div>
    </div>
  </div>

  <!-- newfunction -->

    <div class="container-fluid" style="margin-top: 100px;">
        <div class="row">
            <div class="col-md-3 d-flex">
                <p class="mr-2">show</p>
                 <form action="">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          10
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" >10</a>
                          <a class="dropdown-item" >20</a>
                          <a class="dropdown-item" >50</a>
                        </div>
                      </div>
                 </form>
                 <p class="ml-2">entries</p>
            </div>
            <div class="col-md-6">
                <!-- <h1>qw1</h1> -->
           </div>
            <div class="col-md-3">
                <form action="">
                <input style="width: 100px;" type="text" class="form-control" placeholder="search" aria-label="Username" aria-describedby="basic-addon1">
            </form>
           </div>
            
        </div>
        <div class="row">
            <div class="col-md-12" style="margin-top: 20px;"  #epltable>
                <table class="table table-bordered table-hover ">
                    <thead class="thead-dark">
                      <tr>
                       
                        <th scope="col">Name</th>
                        <th scope="col">UserName</th>
                        <th scope="col">Category</th>
                        <th scope="col">Contact No</th>
                        <th scope="col">Status</th>
                      </tr>
                    </thead>
                    <tbody #tbody>
                      <tr #trow  *ngFor="let user of viwers"  (click)="getrowdata(user,trow)" >
                        <td> {{user.name}}</td>
                        <td> {{user.username}}</td>
                        <td> {{user.category}}</td>
                        <td> {{user.conNumber}}</td>
                        <td> {{user.status}}</td>
                      </tr>
                      
                    </tbody>
                  </table>
                  
                   
            </div>
            
        </div>
    </div>
 </div>
